<h1>Show Tweets</h1>

<table>
	<tr>
	<th id="zombie_name">Zombie</th>
	<th id="zombie_tweet">Said ...</th>
    </tr>
	<%- @tweets.each do |tweet| %>
	<tr>
	  <td class="tweet"><%= tweet.zombie.name %></td>
      <td class="tweet"><%= tweet.message %></td>
    </tr>
  <% end %>



