<h1>History for Zombie <%= @zombie.name %></h1>


<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=2>Audits Disabled</td>
     </tr>
  </tbody>
</table>
