<h1>Show Zombie</h1>
<dl>
  <dt>Name:</dt>
  <dd><%= @zombie.name %></dd>
  <dt>Level:</dd>
  <dd>level <%= @zombie.level %></dd>
  <dt>Graveyard:</dt>
  <dd><%= @zombie.graveyard %></dd>
</dl>

<%= link_to "edit", edit_zombie_path(@zombie) %>
