// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error {
color: #D8000C;
background-color: #FFBABA;
display: inline-block;
display: none;
}
.zombieCreateRow {
    padding-top:10px;
    padding-bottom:10px;
}

